.div-footer {
    background-color:#424141;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
}

.info-footer{
    color:#fff;
    padding: 20px;
}

.p-footer{
    margin: 5px;
    font-family: 'Fraunces', serif !important;
    font-size:20px;
}

.div-icons{
    display: flex;
    background-color: #272727;
    justify-content: space-around;
    font-size: 20px;
}

.icons-social{
    margin-right: 10px;
    font-size: 30px;
    margin-top: 30px;
}

.face{
    color:#3b5998;
    font-size: 35px;
    padding-bottom: 25px;
}

.insta{
border-radius: 50px;
font-size: 35px;
color: #fff;
background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
box-shadow: 0px 3px 10px rgba(0,0,0,.25);
}