.div-nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #8d8c8c;
}

.lista-nav{
    display: flex;
    list-style: none;
    margin-top: 15px;
    @media(max-width: 600px) {

    }
}

.btn-nav{
    background-color:#272727;
    color: #bbbbbb;
    font-size: 19px;
    margin-top: 15px ;
    font-family: krub;
    margin: 15px;
    padding:10px;
    border-radius: 2px;
    border: 1px solid rgb(52, 50, 50);
    text-decoration: none;
}

.btn-nav:hover{
    background-color:rgb(183, 183, 183);
    transition: all .3s;
    color: rgb(35, 35, 35);
}

.btn-showToggle{
    display: none;
}

@media (max-width:500px) {

    .div-nav{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding-bottom: 15px;
        padding-top: 15px;
        margin-left: 0;
    }

    .btn-showToggle{
        display: flex;
        width: 15%;
        background: #8d8c8c;
        border: none;
    }

    .lista-nav{
        display: flex;
        flex-direction: column;
        list-style: none;
        margin-top: 15px;
        margin-bottom: 15px;
        margin-left: -30px;
        background-color: #fbd37dc3;
        width: 50%;
        border-radius:5px;
    }

    .lista-nav:hover{
        margin-left: 25%;
       transition: all 2s;
    }

    .li-item{
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .btn-nav{
        background-color:#272727;
        color: #bbbbbb;
        font-size: 15px;
        font-family: krub;
        border-radius: 2px;
        border: 1px solid rgb(52, 50, 50);
        text-decoration: none;
    }
}