.div-productos-page{
    background: linear-gradient(#afb1a8,#c7ab91b7);
}

.card-img-prod{
    width:500px;
    height: 350px;
    border: 2px solid tan;
    border-radius: 5px;
}

.productos{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    border-bottom: solid 3px black;
}

.card-productos{
    margin: 15px;
}


.h2-productos{
    text-align: center;
    padding-top: 20px;
    margin-bottom: 20px;
}

.card-text-productos{
    width:500px;
    font-weight: bold;
    margin-top:15px;
}